
absl-py==2.1.0
asgiref==3.7.2
astunparse==1.6.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cx-Oracle==8.3.0
cycler==0.12.1
cryptography==3.3.2
distlib==0.3.8
filelock==3.13.4
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.2
h5py==3.11.0
huggingface-hub==0.22.2
idna==3.6
imageio==2.34.1
imbalanced-learn==0.12.2
joblib==1.4.0
keras==3.2.1
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
looseversion==1.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
multipledispatch==1.0.0
mysql==0.0.3
mysqlclient==2.2.1
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.3
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
panda==0.3.1
pandas==2.2.2
parso==0.8.3
pathlib==1.0.1
pillow==10.2.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
PyMySQL==1.1.1
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.17.2
PyMuPDFb==1.23.9
pyparsing==3.1.1
PyPDF2==3.0.1
python-dateutil==2.8.2
pytz==2023.4
PyYAML==6.0.1
pyzmq==25.1.2
razorpay==1.4.1
regex==2023.12.25
requests==2.31.0
rich==13.7.1
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.3.0
scipy==1.13.0
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.2.0
tifffile==2024.4.24
tokenizers==0.19.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
traits==6.3.2
transformers==4.40.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
userapp==1.0.5
vaderSentiment==3.3.2
virtualenv==20.26.0
wcwidth==0.2.13
Werkzeug==3.0.2
word2number==1.1
wrapt==1.16.0
xgboost==2.0.3
Django
django_heroku
dj_database_url
gunicorn
